################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/CMakeLists.txt.user
/out/build/x64-Debug
